/* Start Header */
header {
    background-color: var(--windowColor);
    position: relative;
    display: flex;
    width: 100%;
    box-shadow: var(--shadow);
}
.header-title {
    display: flex;
    align-items: center;
    padding: 10px;
}
.header-image {
    width: 75px !important;
}
.title {
	font-family: Kaushan Script, cursive;
	color: var(--hover);
	text-shadow: 2px 2px 4px var(--colorLightMode);
    font-size: 1.25rem;
    font-weight: 600;
    margin-left: 10px;
}
@media screen and (min-width: 500px) {
    .title {
        font-size: 2rem;
    }
}
@media screen and (min-width: 768px) {
    .header {
        justify-content: space-between;
    }
    .title {
        font-size: 2.15rem;
    }
}
@media screen and (min-width: 1024px) {
    .title {
        font-size: 3rem;
    }
}
@media screen and (min-width: 1200px) {
    .title {
        font-size: 4rem;
    }
}
/* End Header */
