/* Start Home */
.home-outer-wrapper {
    display: flex;
    flex-direction: row;
    padding-top: 200px;
    gap: 100px;
    justify-content: center;
    height: 100vh;
}
.home-icons {
    box-shadow: var(--shadow);
    border-radius: 70px;
}
.home-icons {
    transition: all 0.3s ease-in-out;
}
.home-icons:hover {
    transform: scale(1.1);
}
/* End Home */