/* Start Header */
header {
	background-color: var(--windowColor);
	position: relative;
	display: flex;
	width: 100%;
	box-shadow: var(--shadow);
}
.header-title {
	display: flex;
	align-items: center;
	padding: 10px
}
.header-image {
	width: 75px !important;
}
.title {
	background: linear-gradient(to right, #ff0000, #ff0000, #ffa500, #ffff00, #00ff00, #0000ff, #0000ff);
	font-size: 1.5rem;
	font-weight: 600;
	-webkit-background-clip: text;
	color: transparent;
	margin-left: 10px;
}
@media screen and (min-width: 768px) {
	.header {
		justify-content: space-between;
	}
	.title {
		font-size: 2rem;
	}	
}
@media screen and (min-width: 1024px) {
	.title {
		font-size: 3rem;
	}
}
/* End Header */